
/* 
    Created on : 18-mar-2014, 15:16:47
    Author     : Orlando
*/

.mnuButton{
    width: 200px;
    height: 100px;
    //background: white url('./img/euromillones.png') no-repeat top;
}
#mnuEuromillon{
    background: white url('/jsf/faces/javax.faces.resource/./img/euromillon.png') no-repeat top;
}

.menu {
    text-align: center;
    margin: 8px 8px;
}

table{ 
    background-color: white;
    float: left; 
    display: block;
    margin: 0px 18px 0px 0px;
}

.numEuro{
    width: 18px;
    text-align: center;
}

.estEuro{
    background: yellow;
    text-align: center;
}

table p {color:red;}


