<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/loterias?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.hbm2ddl.auto">validate</property>
    <mapping resource="POJO/DetalleVenta.hbm.xml"/>
    <mapping resource="POJO/Incidencias.hbm.xml"/>
    <mapping resource="POJO/Jugadas.hbm.xml"/>
    <mapping resource="POJO/Apuestas.hbm.xml"/>
    <mapping resource="POJO/Sesiones.hbm.xml"/>
    <mapping resource="POJO/Usuarios.hbm.xml"/>
    <mapping resource="POJO/Juegos.hbm.xml"/>
    <mapping resource="POJO/Ventas.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
